/* Background */
body {
    background: linear-gradient(to right, #3a659efd, #959c98);
    font-family: Arial, sans-serif;
}

/* Tengahin login box */
.login-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Card login */
.card {
    border-radius: 15px;
}

/* Judul */
h4 {
    font-weight: bold;
}
s
/* Input */
.form-control {
    border-radius: 10px;
}

/* Tombol */
.btn-primary {
    border-radius: 10px;
    background-color: #4facfe;
    border: none;
}

.btn-primary:hover {
    background-color: #00c6ff;
}